/dist
node_modules
/build
*.js
*.map

# Logs

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-store

# VS Code
*.code-workspace
.devcontainer/

# dotenv environment variable files
# .env
# .env.development.local
# .env.test.local
# .env.production.local
# .env.local
